@font-face {
  font-family: Segoe;
  src: url(../public/fonts/Segoe\ UI.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Segoe, Tahoma, Geneva, Verdana, sans-serif;
  color: #c9d1d9;
  outline: none;
  overflow-x: hidden;
}

header {
  position: fixed;
  background-color: #161b22;
  height: 50px;
  width: 100vw;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.logo {
  width: 45px;
  filter: brightness(0) invert(1);
}

main {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #010409;
  padding: 10px;
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

article {
  border-radius: 6px;
  border: 1px solid #30363d;
  background-color: #0d1117;
  height: fit-content;
}

article h3 {
  font-size: 1.2em;
  text-align: center;
  padding: 10px;
}

article hr {
  border: 1px solid #30363d;
}

article > div {
  display: flex;
  flex-direction: column;
}

.select {
  background-color: #0d1117;
  border: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  height: 100%;
  overflow: auto;
}

.select option {
  padding: 2px 5px;
  font-size: 1.1em;
}

.select::-webkit-scrollbar {
  width: 7px;
  height: 20px;
}

.select::-webkit-scrollbar-track {
  background-color: #0d1117;
  border-bottom-right-radius: 6px;
}

.select::-webkit-scrollbar-thumb {
  background-color: #30363d;
  border: 1px solid #c9d1d933;
  border-radius: 2px;
}

.select option {
  background-color: transparent;
}

.select option:checked {
  background-color: #30363d;
}

article footer {
  display: flex;
  justify-content: center;
  padding: 7px 0;
  height: 50px;
}

article footer button {
  padding: 4px 10px;
  border: 1px solid #363b42;
  background-color: #21262d;
  transition: all;
  transition-duration: 50ms;
  transition-delay: 50ms;
  cursor: pointer;
  height: fit-content;
}

article footer button:hover {
  border-color: #6e7681;
  background-color: #282e33;
}

article footer button:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

article footer button:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.center-x {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

article table p {
  text-align: end;
  padding-right: 5px;
  vertical-align: baseline;
  margin-top: 7px;
}

article table input,
.simpleSelect,
.modalMain input {
  margin-top: 7px;
  width: 160px;
  padding: 3px 4px;
  font-size: 1em;
  background-color: #010409;
  border: 1px solid #30363d;
  border-radius: 6px;
  color: #555c65;
}

article table input:focus,
.simpleSelect:focus {
  border-color: #c3d1d9;
}

article table input[type="checkbox"] {
  width: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.modalBack {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #161b227a;
  justify-content: center;
  align-items: center;
}

.modalMain {
  height: fit-content;
  width: calc(fit-content + 50px);
  padding: 10px;
  background-color: #11151a;
  border: 1px solid #c3d1d9;
}

.close {
  text-align: end;
  cursor: pointer;
  padding-top: 10px;
}

.modalMain input {
  margin-bottom: 10px;
}

.modalMain h2 {
  font-size: 1em;
  display: inline;
  margin-right: 10px;
}
